

.wrap{
    margin:0 auto;
    max-width:750px;
    display:flex;
    font-family: 'NanumSquareR';
}
.wrap>div{
    margin:3px;
}

#banner{

}

#board{

}

#aside{

}

.section{
    display:flex;
    flex-direction: column;   
}