.tagBox {
    margin:0px 3px;
    margin-top:15px;
    display:flex;
    flex-wrap: wrap;
    
}
.tag a{
    padding:5px 10px;
    background-color:green;
    color:white;
    border-radius:10px;
    font-size:13px;
}

.tag{
    width:100%;
    float:left;
    
}