* {
    box-sizing:content-box;
    font-family: 'NanumSquareR';
}

a{
    text-decoration: none;
    color: inherit;
    font-family: 'NanumSquareR';
}
ul{
    list-style: None;
    
}

.bg-sub {
    background-color:#2E303D;
}


#header{
    width:100%;
    height:80px;
    background-color: white;
    /* background-color:lightgrey; */
    position: fixed;
    z-index:999;
    display: flex;

    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #BFBFBF;
}

.header_wrap{
    width:800px;
    height:100%;

    display: flex;

    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    

    text-align:center;
}

.logo{
    width:120px;
    margin-right:70px;
    /* margin-left:0; */
}
.logo img{
    width:120px;
}


.menu{
    display:flex;
    color:white;
}

.menu li{
    width:123px;
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
    margin:5px;
    border-radius:30px;
    font-size:19px;
    transition: 0.2s;
    color:black;
    font-weight:600;
}

.menu li:hover{
    background-color:#243484;
    color:white;
}


.account{
    margin-top:0;
    margin-left:20px;
    width:120px;

    border-radius:10px;
    /* display:flex; */

    /* position:relative; */
}

.sub_menu{
    width:100%;
    display:flex;
    /* flex-direction: column; */
    /* align-items: center; */
    color:white;
    margin-bottom:5px;
    margin-left:80px;
    align-items:center;
    justify-content: space-between;
}

.sub_menu li{
    /* color:white; */
    padding:10px 10px;
    border-radius:10px;
    /* background-color: #778B9F; */
    font-size:12px;
    /* margin:2px; */
    width:15px;
    
    height:15px;
    margin:3px;
    text-align:center;

    position:relative;
}
/* 
.profile_img {
    position:relative;
    width:inherit;
    background-color:transparent;

    padding:10px 10px;
    border-radius:10px;
    background-color: #778B9F;
    font-size:12px;
    margin:2px;
    width:15px;
    
    height:15px;
    margin:3px;
    text-align:center;

} */
/* 
.sub_menu:nth-child(1) a{
    margin:0;
    padding:0;
    left:0;
    top:0;
    position:relative;
    width:15px;
} */

.img_clear{
    width:32px;
    text-align:center;
    position:relative;
    display:flex;
    justify-content: center;
}

.profile_img img{
    position: absolute;
    /* left:50%; */
    /* top:50%; */
    left : 0;
    top:0;
    width:32px;
    /* margin-bottom:10px; */
    /* border-radius:10px; */
    /* width:32px; */
    /* height:32px; */
    border-radius:66px;
    border:1px solid lightgrey;
    transform: translate(-40%, -30%);
    
}


.sub_menu a:nth-child(1) {
    /* display:relative; */
    /* box-sizing:content-box; */
    width:32px;
    overflow:hidden;
    /* margin-bottom:13px; */
    
}

.sub_menu a:nth-child(2) li{
    border-radius:10px;
    background-color: rgb(196, 196, 196);
    color:black;
}


.sub_menu a:nth-child(3) li{
    border-radius:10px;
    background-color:#282d31;
    color:white;
}
